<div class="sign-in-form sign-up-form">
  <div class="mdc-card mdc-elevation--z0">
    <h2>Something went terribly wrong</h2>
    <p>
      Looks like either:
    </p>
    <ul>
      <li>the server did not understand what you were trying to do and panicked,</li>
      <li>the devs did something stupid, or</li>
      <li>a combination of the two</li>
    </ul>
    <p>
      What ever the cause of this issue, the devs have been informed and will
      be working to fix whatever can be fixed
    </p>
  </div>
</div>

<!--

███████╗██████╗ ██████╗  ██████╗ ██████╗ ██████╗ ███████╗████████╗ █████╗ ██╗██╗     ███████╗
██╔════╝██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██╔══██╗██╔════╝╚══██╔══╝██╔══██╗██║██║     ██╔════╝
█████╗  ██████╔╝██████╔╝██║   ██║██████╔╝██║  ██║█████╗     ██║   ███████║██║██║     ███████╗
██╔══╝  ██╔══██╗██╔══██╗██║   ██║██╔══██╗██║  ██║██╔══╝     ██║   ██╔══██║██║██║     ╚════██║
███████╗██║  ██║██║  ██║╚██████╔╝██║  ██║██████╔╝███████╗   ██║   ██║  ██║██║███████╗███████║
╚══════╝╚═╝  ╚═╝╚═╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝ ╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝

{{#each errors}}
--------------------------------
Name: {{name}}
Message: {{message}}
Stack: {{stack}}
Source Route: {{sourceRoute.route.name}}
Redirect To: {{redirectTo}}
Status Code: {{statusCode}}
Data: {{{stringify data}}}
{{#if task}}Task: {{{stringify task}}}{{/if}}
{{#if destination}}Destination: {{{stringify destination}}}{{/if}}
--------------------------------
{{/each}}

-->
