<div class="container-fluid container-content v-padding-full h-padding" style="margin: 0 auto;">
  <h1 class="mdc-typography--headline3">Be a coronavirus volunteer in your community</h1>
  <div class="mdc-typography--headline7 b-margin">
    Administrative access
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <p class="mdc-typography--body1">
          All coronavirus volunteer sign-ups with sharing consent given, by area.
        </p>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
        <form action="{{@root.request.url.pathname}}" method="get">
          <div class="mdc-text-field" data-mdc-auto-init="MDCTextField">
            <input id="from_date" name="from_date" class="mdc-text-field__input" type="date" value="{{#unless @root.request.params.query.from_date}}2020-03-29{{else}}{{@root.request.params.query.from_date}}{{/unless}}" />
            <label class="mdc-floating-label mdc-floating-label--float-above" for="from_date">
              From date
            </label>
          </div>
          <input type="submit" class="pull-right mdc-button mdc-button--raised" id="filter" value="Filter" />
        </form>
      </div>
    </div>
  </div>
  <table class="b-margin-full">
    <tr>
      <th class="text-left r-padding-full"><strong>Local authority</strong></th>
      <th class="text-left r-padding-full"><strong>Sign-ups</strong></th>
      {{!-- <th class="text-left r-padding-full"><strong>Download</strong></th> --}}
    </tr>
    {{#each @root.data.database.councils ~}}
    <tr>
      <td class="text-left r-padding-full">{{{council}}}</td>
      <td class="text-left r-padding-full">{{submissions}}</td>
      <td class="text-left r-padding-full"><a href="{{@root.request.url.pathname}}/download?council={{urlencode council}}&from_date={{#unless @root.request.params.query.from_date}}2020-03-29{{else}}{{@root.request.params.query.from_date}}{{/unless}}" class="mdc-button mdc-button--raised mdc-button--primary"><span class="far fa-file-csv r-margin-full"></span> Download CSV</a></td>
    </tr>
    {{/each ~}}
  </table>
</div>
